@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700&display=swap');
*
{
margin: 0;
padding: 0;
transition: 0.5s;

font-family: 'poppins',sans-serif;
}
.container {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	margin-top: 50px;
}

.product-image img {
	width: 350px;
	height: 250px;
}

body{

    background-image:url(bg.jpg)  ;

    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 1500px 800px;
}
.product-info {
	margin-left: 50px;
}

.product-info h1 {
	font-size: 36px;
	margin-bottom: 20px;
}

.product-description {
	font-size: 18px;
	margin-bottom: 20px;
}

.product-price {
	font-size: 24px;
	font-weight: bold;
	margin-bottom: 20px;
}

.add-to-cart {
	background-color: #000000;
	color: #fff;
	padding: 10px 20px;
	border-radius: 5px;
	font-size: 18px;
	border: none;
	cursor: pointer;
}
.add-to-cart:hover{
    background-color: #fff;
	color: #000000;
}
button{
    font-weight: bold;
    
}
h1{
    font-weight: bold;
    text-shadow: 2px 2px 2px gray;
    text-align: center;
}