<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BLOCK CHAIN</title>
    {% load static %}
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">

</head>
<body>
    <div class="container text-center bg-dark col-6 col-xs-6 col-md-6 rounded text-light" style="margin-top: 170px;">
        <blockquote style="visibility: hidden;">aa</blockquote>
        <h1 class="display-4">SELECT THE OPTION</h1><br>
        <a href="{% url 'encryption' %}" class="btn btn-success w-100">ENCRYPT</a><br><br>
        <a href="{% url 'decryption' %}" class="btn btn-success w-100">DECRYPT</a><br>
        <blockquote style="visibility: hidden;">aa</blockquote>

    </div>
    
</body>
</html>