<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HOME</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    {% block content %}
            <div class="logformclass">
                
                <form action="/updateData/{{data.id}}" method="POST" autocomplete="off">
                    {% csrf_token %}
                    <h3>LOGIN PAGE</h3>
                    <div class="input">
                        <label for="name">USERNAME</label>
                        <input type="text" name="name" value="{{data.UserName}}" id="name">
                    </div>
                    <div class="input">
                        <label for="password">PASSWORD</label>
                        <input type="text" name="password" value="{{data.Password}}" id="password">
                    </div>
                    <div class="btn">
                        <button type="submit">UPDATE</button>
        
                    </div>
        </form>

    </div>
   {% endblock %}
</body>
</html>